
input {
    top: 50%;
    left: 50%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    background: rgba(231, 157, 157, 0.601);
    background-repeat: no-repeat;
    background-image:url("../../resources/Images/poke.png") ;
    width: 45px;
    height: 45px;
    padding: 10px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
}

input::placeholder {
    color: #000000;
    opacity: 0;
    text-align:end;
    transition: opacity 150ms ;
}

input:focus::placeholder {
    opacity: 1;
}



input:focus,
input:not(:placeholder-shown) {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}


.search-form{
    width: 240px;
    height: 40px;
    display: flex;
    justify-content:end ;
    

}

.search-submit {
    background-color: transparent;
    cursor: pointer;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
}
