.pagination {
    display: flex;
    justify-content: center;
}

.pagination.box {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: initial;
    margin: 2rem;
}

.pagination-button {
    padding: 13px;
    margin: 15px;
    margin-right: 15px;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 5em;
}

.Loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(217, 54%, 11%);
}



#back {
    background-color: rgb(211, 33, 33);
}
#create {
    background-color: green;
}

#hidden {
    color: hsl(217, 54%, 11%);
    margin-bottom: 0px;
}
#hidden:hover {
    color: white;
}