.background {
  /* background-image: url(./Images/back.jpg); */
  background-image: url("../../resources/Images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.logo {
  margin-top: 100px;
  width: 30%;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.4));
}

.title {
  font-size: clamp(2.5rem, 1rem + 10vw, 4.9rem);
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  color: #66625c;

}

.button {
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #eb544d;
  font-weight: 700;
  min-height: 40px;
  min-width: 120px;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: #e93228;
  border: none;
}
