.header {
	display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f11616dc;
  max-height: 6rem;
  padding: 0.5rem;
}

.img-logo{
	max-width: 170px;
  margin-left: 10px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.4));;
}

.header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:1rem;
}

.header ul li {
	list-style: none;
	margin: 0 10px;
}

.header ul li span {
	padding: 5px 10px;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
	background-color : rgba(25, 25, 25, 0.9);
    border-radius : 30px;
}

.icon-search{
	min-height:3rem;
  max-height: 3rem;
  width: 3rem;
}